[submodule "retro-go-stm32"]
	path = retro-go-stm32
        # BEFORE SHIPPING: Change back to main repo
	url = https://github.com/martaaay/retro-go-stm32
[submodule "LCD-Game-Emulator"]
	path = LCD-Game-Emulator
	url = https://github.com/bzhxx/LCD-Game-Emulator.git
