build

Drivers

Makefile
Core/Inc/rom_info.h
Core/Inc/githash.h
roms

.mxproject

saveflash.ld

rom_hashes.txt

Core/Src/retro-go/col_roms.c
Core/Src/retro-go/gb_roms.c
Core/Src/retro-go/gg_roms.c
Core/Src/retro-go/nes_roms.c
Core/Src/retro-go/pce_roms.c
Core/Src/retro-go/gw_roms.c
Core/Src/retro-go/sg1000_roms.c
Core/Src/retro-go/sms_roms.c

linux/loaded_gb_rom.c
linux/loaded_nes_rom.c

save_states

venv

**/.DS_Store

**/*.pyc

*.sw[mnop]
